<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studentmanagement">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".websiteadd"></activity>
        <activity android:name=".actions" />
        <activity android:name=".Navigation2" />
        <activity android:name=".branch" />
        <activity android:name=".mech" />
        <activity android:name=".cse" />
        <activity android:name=".portal" />
        <activity android:name=".Navigation1" />
        <activity android:name=".navigation1" />
        <activity android:name=".navigation_1" />
        <activity android:name=".SignIn_Activity" />
        <activity android:name=".SignUp_Activity" />
        <activity android:name=".optionActivity" />
        <activity android:name=".AboutActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>